@using DevExpress.AspNetCore
@using Microsoft.AspNetCore.Http;
@using DevExpress.DashboardWeb;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Web Dashboard</title>
    <!-- Add bundled resources. -->
    <link href="~/css/site.min.css" rel="stylesheet" />
    <script src="~/js/site.min.js"></script>
    <link href="~/css/app-style.css" rel="stylesheet" />

    <script>
        function onBeforeRender(sender) {
            var dashboardControl = sender;
            dashboardControl.registerExtension(new DevExpress.Dashboard.DashboardPanelExtension(dashboardControl));
        }
    </script>
</head>
<body>
    @Html.ActionLink("Sign out", "Index")

    @(Html.DevExpress().Dashboard("Dashboard")
        .OnBeforeRender("onBeforeRender")
        .WorkingMode(WorkingMode.Viewer)
        .Extensions(ext => ext.DataSourceWizard(dsw => dsw.AllowCreateNewJsonConnection(true)))
    )
</body>
</html>