@{
    ViewBag.Title = "Sign in";
}

@model AspNetCore31Dashboard.LoginData

@using DevExpress.DashboardWeb

<style type="text/css">
    .roleTable td, .roleTable th {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<h1>DashboardDifferentUserData Example</h1>
<p>Select a user to view the available dashboards:</p>

<form method="post">
    <select name="UserName">
        <option value="">Guest</option>
        <option value="User">User</option>
        <option value="Admin">Admin</option>
    </select>
<input type="submit" value="Sign in" />
</form>

<hr />
<table class="roleTable">
    <thead>
        <tr>
            <th>Role</th>
            <th>Sql</th>
            <th>Json</th>
            <th>Excel</th>
            <th>Object</th>
            <th>Extract</th>
            <th>Entity Framework</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Admin</td>
            <td>Categories</td>
            <td>Customers</td>
            <td>Bikes</td>
            <td>Sales</td>
            <td>Sales</td>
            <td>Categories</td>
        </tr>
        <tr>
            <td>User</td>
            <td>Categories from different source with optional filter</td>
            <td>Customers from different source with optional filter</td>
            <td>Bikes from different source</td>
            <td>Sales from different source</td>
            <td>-</td>
            <td>Categories from different source</td>
        </tr>
        <tr>
            <td>Guest</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>